@import "~office-ui-fabric-react/dist/sass/_References.scss";
@import "../styles/cr.module";

.fieldDecorators {
  .descriptionAbove,
  .descriptionBelow {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }

  .descriptionAbove {
    padding-bottom: 5px;
  }
  
  .descriptionBelow {
    padding-top: 5px;
    @include slideDownIn20;
  }

  .errorMessage {
    font-size: 12px;
    font-weight: 400;
    color: #a80000;
    margin: 0;
    padding-top: 5px;
    @include slideDownIn20;
  }

  .history {
    margin: 0.3em 0em;
    opacity: 0.7;
  }
}
